.about {
  font-family: "Varela Round", sans-serif;
}

.boxes {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.aboutbox {
  width: 325px;
}

.aboutTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  align-items: center;
}

.aboutimg {
  height: 325px;
  width: 325px;
  border-radius: 10px;
  object-fit: cover;
  justify-content: center;
}

.boxinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 25px;
  color: coral;
  margin-top: 10px;
}

.blurb {
  margin: 15px;
  display: flex;
  flex-direction: column;
}
